body, html {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #2d2d2d;
    max-width: 100vw;
    }

h1 {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 1px;
    color: #231f20;
    margin: 0;
}

h2 {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 1px;
    color: #808080;
    margin: 0;
}

p {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.3px;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

header svg {
    width: 14px;
    padding: 6px 6px 6px 6px;
    margin: 0 0 2px -6px;
    transform-origin: 50% 50%;
        -webkit-transition: transform 800ms;
    transition: transform 800ms;
}

header svg path {
    fill: #2d2d2d;
}

header svg:hover {
    transform: rotate(450deg);
}

header nav {
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 0.3px;
}

header nav a {
    display: inline;
    clear: both;
    float: left;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    color: inherit;
    padding: 11px 0;
}

nav a {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
        -webkit-transition: width 400ms;
    transition: width 400ms;
}

nav a:hover::after {
    width: 100%;
        -webkit-transition: width 400ms;
    transition: width 400ms;
}

.credit {
    position: fixed;
    display: inline;
    right: 30px;
    bottom: 14px;
    transform: rotate(90deg);
    transform-origin: right;
}

.contentContainer {
    position: relative;
    margin-left: 138px;
    margin-right: 60px;
}

.content {
    width: 700px;
    margin: 26px auto 0 auto;
}

img {
    display:block;
    width: 100%;
    background-color: #eaeaea;
}

section {
    position: relative;
    margin-bottom: 70px;
    border-radius: 4px;
    overflow: hidden;
}

section:last-of-type {
    margin-bottom: 24px;
}

section .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1d1d1d;
    border-radius: 4px;
    opacity: 0;
    padding: 22px 30px;
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    z-index: 2;
        -webkit-transition: opacity 600ms;
    transition: opacity 600ms;
}

section:hover .overlay {
    opacity: 0.94;
}

section .overlay h1 {
    color: #eaeaea;
}

section .overlay p {
    position: absolute;
    color: #808080;
    bottom: 30px;
}

.overlay p::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #808080;
        -webkit-transition: width 400ms;
    transition: width 400ms;
}

.overlay p:hover::after {
    width: 100%;
        -webkit-transition: width 400ms;
    transition: width 400ms;
}

article {
    margin-top: -8px;
    display: inline-block;
}

article h1 .link {
    width: 12px;
    margin: -6px -6px -6px 0;
    padding: 6px;
}

article h1 .link path, polygon {
    fill: #2d2d2d;
        -webkit-transition: transform 200ms;
    transition: transform 200ms;
}

article h1 .link:hover polygon {
    transform: translate(10px,-10px);  
}

article p:first-of-type {
    margin: 10px 0 0 0;
}

article p {
    margin: 20px 0;
}

article img {
    margin: 20px 0;
}

article .link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.3px;
    margin: 10px 0;
}

article .link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #808080;
        -webkit-transition: width 400ms;
    transition: width 400ms;
}

article .link:hover::after {
    width: 100%;
        -webkit-transition: width 400ms;
    transition: width 400ms;
}

article ul {
    list-style: none;
    padding: 0;
    margin-top: 26px;
    margin-bottom: 0;
    display: inline;
    clear: both;
    float: left;
}

article li {
    padding: 8px 0;
    width: 100%;
    display: inline;
    clear: both;
    float: left;
}

@media only screen and (max-width: 900px) {
    
    header {
        position: static;
        display: inline-block;
        width: 100%;
    }
    
    .credit {
        display: none;
    }
    
    .contentContainer {
        margin: 0;
    }
    
    .content {
        width: 100%;
        margin: 0 auto 0 auto;
    }
    
    article p,article h1,article h2 {
        padding: 0 30px;
                -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    section {
        margin-bottom: 0;
        border-radius: 0;
    }
    
    section .overlay {
        border-radius: 0;
    }
    
    section:last-of-type {
        margin-bottom: 0;
    }
    
}