body, html {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #2d2d2d;
    max-width: 100vw;
    }

h1 {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 1px;
    color: #231f20;
    margin: 0;
}

h2 {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 1px;
    color: #808080;
    margin: 0;
}

p {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.3px;
    margin: 0;
}

a, a:visited {
    color: #5a7d3d;
}

::-moz-selection {
    color: inherit;
    background: rgba(98, 123, 73, 0.6);
}

::selection {
    color: inherit; 
    background: rgba(98, 123, 73, 0.6);
}

img {
    font-size: 13px;
    letter-spacing: 0.3px;
}

.button {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 1px;
    color: inherit;
    border: solid 1px #2d2d2d;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 6px 20px 6px 0;
}

.button:visited {
    color: inherit;
}

.button:hover {
    background-color: #2d2d2d;
    color: white;
}

.button:active {
    background-color: #2d2d2d;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

header svg {
    width: 14px;
    padding: 6px 6px 6px 6px;
    margin: 0 0 2px -6px;
    transform-origin: 50% 50%;
        -webkit-transition: transform 800ms;
    transition: transform 800ms;
}

header svg path {
    fill: #2d2d2d;
}

header svg:hover {
    transform: rotate(450deg);
}

header nav {
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 0.3px;
}

header nav a {
    display: inline;
    clear: both;
    float: left;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    color: inherit;
    padding: 10px 0;
    margin: 2px 0;
}

header nav a:visited {
    color: inherit;
}

nav a {
    display: inline-block;
    color: #2d2d2d;
    text-decoration: none;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    margin-top: 1px;
    background: #2d2d2d;
        -webkit-transition: width 400ms;
    transition: width 400ms;
}

nav a:hover::after {
    width: 100%;
        -webkit-transition: width 400ms;
    transition: width 400ms;
}

.credit {
    position: fixed;
    display: inline;
    right: 30px;
    bottom: 14px;
    transform: rotate(90deg);
    transform-origin: right;
}

.contentContainer {
    position: relative;
    margin-left: 138px;
    margin-right: 60px;
}

.content {
    width: 700px;
    margin: 66px auto 24px auto;
}

img {
    display:block;
    width: 100%;
    min-height: 160px;
    background-color: #eaeaea;
}

section {
    position: relative;
    margin-bottom: 70px;
    border-radius: 4px;
    overflow: hidden;
}

section:last-of-type {
    margin-bottom: 0;
}

section .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1d1d1d;
    border-radius: 4px;
    opacity: 0;
    padding: 22px 30px;
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    z-index: 2;
        -webkit-transition: opacity 600ms;
    transition: opacity 600ms;
}

section:hover .overlay {
    opacity: 0.94;
}

section .overlay h1 {
    color: #eaeaea;
}

section .overlay p {
    position: absolute;
    color: #808080;
    bottom: 30px;
    cursor: pointer;
}

.overlay p::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #808080;
        -webkit-transition: width 400ms;
    transition: width 400ms;
}

.overlay p:hover::after {
    width: 100%;
        -webkit-transition: width 400ms;
    transition: width 400ms;
}

article {
    margin-top: -8px;
    display: inline-block;
}

.module {
    background-color: none;  
    margin-bottom: 40px;
    padding: 0;
        
}

article h1 .link {
    width: 12px;
    margin: -6px -6px -6px 0;
    padding: 6px;
}

article h1 .link path, polygon {
    fill: #2d2d2d;
        -webkit-transition: transform 200ms;
    transition: transform 200ms;
}

article h1 .link:hover polygon {
    transform: translate(10px,-10px);  
}

article .intro {
    margin: 10px 0 20px 0;
}

article p {
    margin-bottom: 20px;
}

article img {
    margin: 0 0 20px 0;
}

article .link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.3px;
    margin: 10px 0;
}

article .link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #808080;
        -webkit-transition: width 400ms;
    transition: width 400ms;
}

article .link:hover::after {
    width: 100%;
        -webkit-transition: width 400ms;
    transition: width 400ms;
}

article ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    float: left;
}

article ul.half {
    width: 50%;
}

article ul.full {
    width: 100%;
    margin-bottom: 0; /* specific use - last on about.html */
}

article li {
    padding: 8px 0;
    width: 100%;
}

article ul.half li {
    display: inline;
    clear: both;
    float: left;
}

article ul.full li {
    display: inline;
}

@media only screen and (max-width: 900px) {
    
    header {
        position: static;
        display: inline-block;
        width: 100%;
    }
    
    nav a::after {
        width: 100%;
    }
    
    .credit {
        display: none;
    }
    
    .contentContainer {
        margin: 0;
    }
    
    .content {
        width: 100%;
        margin: 0 auto 0 auto;
    }
    
    article p,article h1,article h2 {
        padding: 0 30px;
                -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    article .button {
        margin-left: 30px
    }
    
    section {
        margin-bottom: 0;
        border-radius: 0;
    }
    
    section .overlay {
        border-radius: 0;
    }
    
    section .overlay.tease {
        opacity: 0.94;
    }
    
    section:last-of-type {
        margin-bottom: 0;
    }
    
    article ul, article ul.half, article ul.full {
        clear: both;
        width: 100%;
    }
    
    .module {
        background-color: #1d1d1d;  
        padding: 50px 0;
    }
    
    .module h1 {
        color: white;
    }
    
    .module * {
        margin: 25px 0;
    }
    
    .module *:first-child {
        margin-top: 0;
    }
    
    .module *:last-child {
        margin-bottom: 0;
    }

    article ul.full li {
        display: inline;
        clear: both;
        float: left;
    }
    
}